<!DOCTYPE HTML>
<html>
	<head>
        <%- include('./partials/head'); %>
    </head>
	<body >
        <header>
            <%- include('./partials/header'); %>
        </header>
        
		<center>   
            <br>         
            <h3>Dis is por Others Page : ></h3>
        </center>

        <table>
            <th>
                <% for(things of itemData){%>
                <td>
                    <main class="container">
                        <div class="card border-primary mb-3 ml-4 mt-4" style="max-width: 20rem;">
                            <p><center><img src=<%=things.data()['photo_url'] %> width="183" height="174"></center></p>
                            <div class="card-body">
                                    
                                    <p class="card-text"><b>Name: </b><%=things.data()['name'] %></p>

                                    <p align="justify"class="card-text"><b>Description: </b></p>

                                    </p><%=things.data()['desc'] %></p>
                                    
                                    <p class="card-text mb-0"><b>Price: </b><%=things.data()['price'] %></p>
                                    <br></br>
                                    
                                    <center>
                                    <% for(pics of things.data()['pictures']){%>
                                    <img src=<%=pics%> width="91" height="88">
                                    <% } %>
                                    </center>
                            </div>
                        </div>
                    </main>
                </td>
                <% } %>
            </th>
            </table> 
		
	</body>
</html>
