<!DOCTYPE HTML>
<html>
	<head>
        <%- include('./partials/head'); %>
    </head>
	<body >
        <header>
            <%- include('./partials/header'); %>
        </header>
            <style>
                .i-container{
                    background-color: rgb(254, 255, 255); 
                    box-shadow: 1px 2px 15px 0px rgba(89,87,87,0.85);
                    margin: 20px; 
                    width: 290px; 
                    height: 390px; 
                    border-radius: 30px;
                    margin-left: 45px;
                    margin-top: 40px;
                    margin-bottom: 25px;
                    min-height: xxx;
                    overflow: hidden;
                }
                .cool-button{
                    background: linear-gradient(90deg, rgb(17, 51, 201) 0%, rgb(65, 98, 247) 100%); 
                    box-shadow: 1px 2px 22px 0px rgba(89,87,87,0.85);
                    margin: 20px; 
                    width: 220px; 
                    height: 30px; 
                    border-radius: 30px;
                    border-color: rgb(254, 255, 255);
                }
                .click-dis{
                    display:block;
                    cursor:pointer;
                    color: black;
                    text-decoration: none;
                }
                .click-dis:hover{
                    color: black;
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
                a:link { text-decoration: none; }
                a:visited { text-decoration: none; }
                a:hover { text-decoration: none; }
                a:active { text-decoration: none; }
            </style>
            <main class="container-d" >
                <div class="d-flex flex-wrap">
                    <% for(things of itemData){%>
                    <a class="click-dis" href="/details/item_id=<%=things.id%>">
                        <div class="i-container">
                            
                            <p><center><img src=<%=things.data()['photo_url'] %> width="271" height="275">
                            </p>
                            <p class="card-text"><%=things.data()['name'] %></p>
                            <p class="card-text mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <%=things.data()['total_sales'] %>
                            </p>
                            </center>    
                        </div> 
                    </a>   
                    <% } %>     
                </div>  
            </main>   
            
            

	</body>
</html>
